@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Numans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-title: "Krona One", sans-serif;
  --font-text: "Numans", sans-serif;

  --font-size-h1: 20px;
  --font-size-p-large: 18px;
  --font-size-p-medium: 16px;
  --font-size-label: 12px;

  --background-primary-color: linear-gradient(#000000, #26327f);
  --background-secondary-color: #f9f9f9;

  --primary-color: #131730;
  --secondary-color: #f55b64;
  --tertiary-color: #ffffff;
  --hover-color: #c2373f;
  --placeholder-color: #8a8a8a;
  --footer-color: #DBE4EF;
}

body {
  background: var(--background-primary-color);
  background-repeat: no-repeat;
  text-align: center;
  font-family: var(--font-text);
  height: 100vh;
}

main {
  background: var(--background-secondary-color);
  max-width: 328px;
  margin: 40px auto;
 /* height: auto; */
  border-radius: 16px;
  padding: 56px 16px;
}

form {
  margin: 24px auto;
}
.input-item {
  border-radius: 24px;
  border: 1px solid var(--primary-color);
  width: 307px;
  margin-bottom: 8px;
  width: 296px;
}

.input-item,
button {
  border-radius: 24px;
  padding: 12px 16px;
}

.input-item::placeholder {
  color: var(--placeholder-color);
  line-height: 19px;
  text-align: center;
  font-family: var(--font-text);
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: none;
  font-size: var(--font-size-p-large);
}

button:hover {
  background-color: var(--hover-color);
}

.container-lista > h2 {
  color: var(--secondary-color);
  font-family: var(--font-title);
  font-size: var(--font-size-h1);
  line-height: 32px;
  margin-top: 24px;
}

.container-lista > hr {
  width: 296px;
  border: 2px dashed var(--secondary-color);
  margin: 8px auto 24px;
}

p {
  color: var(--primary-color);
  text-align: start;
}

li {
  list-style-type: none;
}

li > div {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
div > p {
  font-size: var(--font-size-p-medium);
}

li > p {
  font-size: var(--font-size-label);
}

span{
  font-size: var(--font-size-label);
  color: var(--footer-color);
}
@media screen and (min-width: 768px) {
  main {
    max-width: 440px;
  }
}
